<%
  # Liens de navigation, partagés entre la sidebar desktop et l'off-canvas mobile.
  nav = controller_name
  orders_count = current_establishment&.orders&.count.to_i
%>
<nav class="app-sidebar__nav">
  <%= link_to dashboard_path, class: "app-sidebar__item #{'is-active' if nav == 'dashboards'}" do %>
    <i class="fa-solid fa-star app-sidebar__icon"></i>
    <span class="app-sidebar__label">Tableau de bord</span>
  <% end %>

  <%= link_to orders_path, class: "app-sidebar__item #{'is-active' if nav == 'orders'}" do %>
    <i class="fa-solid fa-tag app-sidebar__icon"></i>
    <span class="app-sidebar__label">Commandes</span>
    <% if orders_count.positive? %>
      <span class="app-sidebar__badge"><%= orders_count %></span>
    <% end %>
  <% end %>

  <%# TODO route à câbler : Messages (communications n'a qu'une route nested :create) %>
  <%= link_to "#", class: "app-sidebar__item" do %>
    <i class="fa-solid fa-comment-dots app-sidebar__icon"></i>
    <span class="app-sidebar__label">Messages</span>
  <% end %>

  <%# TODO route à câbler : Ventes (aucune route pour l'instant) %>
  <%= link_to "#", class: "app-sidebar__item" do %>
    <i class="fa-solid fa-list app-sidebar__icon"></i>
    <span class="app-sidebar__label">Ventes</span>
  <% end %>

  <%= link_to customers_path, class: "app-sidebar__item #{'is-active' if nav == 'customers'}" do %>
    <i class="fa-solid fa-users app-sidebar__icon"></i>
    <span class="app-sidebar__label">Clients</span>
  <% end %>

  <%# TODO route à câbler : Établissement (pas de resource dédiée pour l'instant) %>
  <%= link_to "#", class: "app-sidebar__item" do %>
    <i class="fa-solid fa-house app-sidebar__icon"></i>
    <span class="app-sidebar__label">Établissement</span>
  <% end %>
</nav>
